:root {
    --background: black;
    --foreground: white;
    --neon-primary: #0095cc;
    --neon-green: #46F953;
    --neon-purple: #9500FF;
    --neon-pink: #FF44CC;
    --neon-blue: #21F8F6;
    --neon-orange: #ef7700;
    --fixed-navbar-height: 6rem
}

@font-face {
    font-family: "Druk Wide Medium";
    src: url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.eot");
    src: url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.svg#Druk Wide Medium") format("svg");
}

a:hover.discord {
    color: var(--neon-purple);
    text-shadow: 0 0 10px var(--neon-purple), 0 0 40px var(--neon-purple);
}
a:hover.instagram {
    color: var(--neon-pink);
    text-shadow: 0 0 10px var(--neon-pink), 0 0 40px var(--neon-pink);
}
a:hover.twitter {
    color: var(--neon-blue);
    text-shadow: 0 0 10px var(--neon-blue), 0 0 40px var(--neon-blue);
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

.card {
    box-shadow: initial;
}
.card-image {
    background-color: silver;
}
.neon-blue {
    background-color: var(--neon-primary);
}
.neon-green {
    background-color: var(--neon-green);
}
.neon-orange {
    background-color: var(--neon-orange);
}
.neon-pink {
    background-color: var(--neon-pink);
}
.neon-purple {
    background-color: var(--neon-purple);
}

html {
    background-color: var(--background);
    overflow-y: auto;
    scroll-behavior: smooth;
    /*scroll-padding-top: var(--fixed-navbar-height);*/
}

.has-navbar-fixed-top {
    padding-top: var(--fixed-navbar-height) !important;
}

.footer {
    background-color: var(--background);
}
.footer a {
    color: var(--foreground);
}
.footer i {
    margin: 10px;
}
.footer img {
    height: 5rem;
}

#landing {
    background-color: var(--background);
}

#landing img {
    width: 50%;
}
#loading {
    width: 30%;
}

ul {
    list-style-image: url('/assets/star.svg');
    padding-left: 1em;
}

/*ul {*/
/*    list-style-type: disc;*/
/*    padding-left: 1em;*/
/*}*/

/*li:before {*/
/*    content:"+ ";*/
/*    font-family: "Druk Wide Medium";*/
/*}*/

@media screen and (max-width: 1023px) {

    .footer img {
        height: 4rem;
    }

    /*.has-navbar-fixed-top {*/
    /*    padding-top: 3.25rem !important;*/
    /*}*/

    /*html {*/
    /*    scroll-padding-top: 2rem;*/
    /*}*/

    .navbar-item.is-spacer {
        display: none;
    }
}

.navbar {
    background-color: initial;
    font-family: "Druk Wide Medium";
    position: absolute;
    width: 100%;
    text-transform: uppercase;
}
.navbar-brand img {
    max-height: 2.5rem;
}
.navbar-burger, .navbar-burger a:hover {
    color: var(--foreground) !important;
}
.navbar-end a:hover {
    color: var(--neon-primary);
    text-shadow: 0 0 10px var(--neon-primary), 0 0 40px var(--neon-primary);
}
.navbar-end a {
    color: var(--foreground);
}
.navbar-item {
    color: var(--foreground);
}
.navbar-menu {
    /*background-color: var(--background);*/
    background-color: initial;
}

.progress:indeterminate {
    background-color: #1c1c1c;
    background-image: linear-gradient(to right,var(--neon-primary) 30%,#1c1c1c 30%) !important;
    box-shadow: 0 0 10px var(--neon-primary), 0 0 40px var(--neon-primary);
}

.glow {
    box-shadow: 0 0 10px var(--neon-primary), 0 0 40px var(--neon-primary);
}
.glow-blue {
    box-shadow: 0 0 10px var(--neon-primary), 0 0 40px var(--neon-primary);
}
.glow-orange {
    box-shadow: 0 0 10px var(--neon-orange), 0 0 40px var(--neon-orange);
}
.glow-green {
    box-shadow: 0 0 10px var(--neon-green), 0 0 40px var(--neon-green);
}

.section .title {
    font-family: "Druk Wide Medium";
    text-transform: uppercase;
}

#site {
    display: none;
}
/*#site .hero {*/
/*    margin-top: -2.8rem;*/
/*}*/
#site .hero.is-fullheight {
    min-height: 100vh;
}
#site .hero-body {
    padding: 0;
}
/*#site .hero-body video {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    position: absolute;*/
/*    object-fit: cover;*/
/*}*/

#site .hero-body {
    background-image: url('/assets/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subtitle {
    color: var(--foreground);
}

#roadmap, #faq {
    background-color: #1c1c1c;
}

#status {
    font-family: "Druk Wide Medium";
}

.team .card {
    background-color: initial;
}
.team a {
    color: var(--foreground);
}

.timeline .tag {
    background-color: var(--neon-primary) !important;
    color: white;
}
.timeline-content .heading {
    font-family: "Druk Wide Medium";
}
.timeline-header {
    font-family: "Druk Wide Medium";
    text-transform: uppercase;
}
.timeline-item {
    padding-bottom: 0 !important;
}
.timeline-item.is-last {
    padding-bottom: 1em !important;
}
.timeline-item::before {
    background-color: var(--neon-primary) !important;
}
.timeline-marker {
    background-color: var(--neon-primary) !important;
    border-color: var(--neon-primary) !important;
}


.title {
    color: var(--foreground);
}