@import "/node_modules/bulma/css/bulma.min.css";
@import "/node_modules/@creativebulma/bulma-collapsible/dist/css/bulma-collapsible.min.css";
@import "/node_modules/bulma-timeline/dist/css/bulma-timeline.min.css";

:root {
    --background: black;
    --foreground: white;
    --accent: #0386b2;
    --progress-bar-color: #28fdff;
    --progress-bar-height: 0.5rem;
    --progress-bar-radius: 20px;
    --fixed-navbar-height: 4rem;

    /*Glitch effect: https://github.com/codrops/CSSGlitchEffect*/
    --color-text: #fff;
    --color-bg: #000;
    --color-link: #f9d77e;
    --color-link-hover: #fff;
    --color-info: #efc453;
    --glitch-width: 100vw;
    --glitch-height: 100vh;
    --gap-horizontal: 10px;
    --gap-vertical: 5px;
    --time-anim: 4s;
    --delay-anim: 2s;
    --blend-mode-1: none;
    --blend-mode-2: none;
    --blend-mode-3: none;
    --blend-mode-4: none;
    --blend-mode-5: overlay;
    --blend-color-1: transparent;
    --blend-color-2: transparent;
    --blend-color-3: transparent;
    --blend-color-4: transparent;
    /*--blend-color-5: #af4949;*/
    --blend-color-5: #0386b2;
}

@font-face {
    font-family: "Druk Wide Medium";
    src: url("/assets/fonts/7e389c5e310dc537b083e0e25ea6eab5.eot");
    /*src: url("/assets/fonts/7e389c5e310dc537b083e0e25ea6eab5.eot?#iefix") format("embedded-opentype"),*/
    url("/assets/fonts/7e389c5e310dc537b083e0e25ea6eab5.woff") format("woff"),
    url("/assets/fonts/7e389c5e310dc537b083e0e25ea6eab5.woff2") format("woff2"),
    url("/assets/fonts/7e389c5e310dc537b083e0e25ea6eab5.ttf") format("truetype"),
    url("/assets/fonts/7e389c5e310dc537b083e0e25ea6eab5.svg") format("svg");
}
@font-face{
    font-family: "Jura-Regular";
    src: url("/assets/fonts/Jura-Regular.eot");
    /*src: url("/assets/fonts/Jura-Regular.eot?#iefix") format("embedded-opentype"),*/
    url("/assets/fonts/Jura-Regular.woff")format("woff"),
    url("/assets/fonts/Jura-Regular.woff2")format("woff2"),
    url("/assets/fonts/Jura-Regular.ttf")format("truetype");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Jura-Regular', sans-serif;
    font-weight: 600;
}

/*.card {*/
/*    box-shadow: initial;*/
/*    max-width: 450px;*/
/*}*/
/*.card-image {*/
/*    background-color: silver;*/
/*}*/

html {
    background-color: var(--background);
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-padding-top: var(--fixed-navbar-height);
}

.has-navbar-fixed-top {
    padding-top: var(--fixed-navbar-height) !important;
}

#faq .question a {
    color: var(--foreground);
    font-family: "Druk Wide Medium", sans-serif;
    text-transform: uppercase;
}
#faq .question i {
    -ms-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
#faq .question .is-active i {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
#faq .answer {
    text-transform: uppercase;
}
#faq .answer.is-active {
    margin-top: 1.5rem;
}

.footer {
    background-color: var(--background);
}
.footer a {
    color: white;
}
.footer a:hover {
    color: var(--accent);
    text-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent);
}
.footer i {
    margin: 10px;
}
.footer img {
    height: 4rem;
}

/*Landing*/
#landing {
    background-color: var(--background);
    color: var(--accent);
    text-transform: uppercase;
}
#landing img {
    height: 30vh;
    max-height: 20rem;
}
#landing .hero-body {
    padding: 0;
}
#landing .loading {
    font-size: 1.5rem;
}
#landing .progress-bar {
    width: 60vw;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: var(--progress-bar-height);
    background-color: #282e2f;
    border-radius: var(--progress-bar-radius);
}
#landing .progress-bar .value {
    border-bottom-left-radius: var(--progress-bar-radius);
    border-top-left-radius: var(--progress-bar-radius);
    box-shadow: 0 0 10px var(--progress-bar-color), 0 0 20px var(--progress-bar-color);
    transition: all 0.3s ease-in-out;
    background-color: var(--progress-bar-color);
    height: var(--progress-bar-height);
    width: 1%;
}
#landing .progress-bar .value.is-complete {
    border-radius: var(--progress-bar-radius);
}
#landing #status {
    padding-top: 1em;
}

.navbar {
    background-color: #000000ee;
    font-family: "Druk Wide Medium", sans-serif;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
}
.navbar-brand img {
    max-height: 2.75rem;
}
.navbar-burger {
    height: 3.5rem;
}
.navbar-burger, .navbar-burger a:hover {
    color: var(--foreground) !important;
}
.navbar-burger span {
    height: 2px;
}
.navbar-item {
    color: var(--foreground);
}
.navbar-item.is-active {
    background-color: unset !important;
    color: var(--accent) !important;
}
.navbar-item.is-spacer {
    padding-left: 0 !important;
}
.navbar-menu {
    /*background-color: var(--background);*/
    background-color: initial;
}
.navbar-menu a:hover {
    background-color: unset;
    color: var(--accent);
    text-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent);
}
.navbar-menu a {
    color: var(--foreground);
}
a.button.vip  {
    background-color: var(--accent);
    border-color: var(--accent);
    border-radius: 4px;
    color: var(--foreground);
    font-family: "Druk Wide Medium", sans-serif;
    text-transform: uppercase;
}
a.button.vip:hover {
    box-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent);
    color: var(--foreground);
}
.navbar-menu .navbar-start {
    padding-left: 1em;
}

.section .title {
    font-family: "Druk Wide Medium", sans-serif;
    text-transform: uppercase;
}

/*Site*/
#site {
    display: none;
}
#site .arrow {
    animation: pulse 3s infinite ease-in-out;
}
@keyframes pulse {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}
#site .hero {
    margin-top: -4rem;
}
#site .hero.is-fullheight {
    min-height: 100vh;
}
#site .hero-body {
    align-items: end;
    background-image: url('/assets/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#site .hero-body .block {
    width: 100%;
}
#site .hero-body .title {
    font-family: "Druk Wide Medium", sans-serif;
    font-size: 4rem !important;
    text-transform: uppercase;
    text-shadow: none !important;
    position: relative;
}
#site .hero-body svg {
    margin-top: 1em;
}
#site #vip .modal-content {
    width: auto;
}
#site #vip .container .section {
    background-color: #000000;
    border: var(--foreground) 1px solid;
    margin: 40px;
}

.subtitle {
    color: var(--foreground);
}

#roadmap, #faq {
    background-color: #0c0c0c;
}

/*Team*/
.team a {
    color: var(--foreground);
}
.team a:hover {
    color: var(--accent);
    text-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent);
}
.team .card {
    background-color: initial;
}
.team .card img {
    height: 70%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.team .is-blue {
    background-color: var(--accent);
    box-shadow: 0 0 10px var(--accent), 0 0 40px var(--accent);
}
.team .is-orange {
    --orange: #ef7700;
    background-color: var(--orange);
    box-shadow: 0 0 10px var(--orange), 0 0 40px var(--orange);
}
.team .is-red {
    --red: #ce3020;
    background-color: var(--red);
    box-shadow: 0 0 10px var(--red), 0 0 40px var(--red);
}

/*Timeline*/
.timeline .timeline-content .heading {
    font-family: "Druk Wide Medium", sans-serif;
}
.timeline .timeline-header {
    font-family: "Druk Wide Medium", sans-serif;
    text-transform: uppercase;
}
.timeline .timeline-item {
    padding-bottom: 0 !important;
}
.timeline .timeline-item.is-spacer {
    height: 1.5em;
}
.timeline .timeline-item::before {
    background-color: var(--accent) !important;
    box-shadow: 0 0 10px var(--accent), 0 0 40px var(--accent), 0 0 80px var(--accent);
}
.timeline .timeline-phase, .is-collapsible {
    display: flex;
    flex-direction: column;
}
.timeline .timeline-phase .timeline-item:nth-of-type(1) .timeline-content {
    padding-top: 1.5em !important;
}
.timeline .timeline-phase .timeline-item:last-child {
    padding-bottom: 1.5em !important;
}
.timeline .timeline-marker {
    background-color: var(--accent) !important;
    box-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent);
    border-color: var(--accent) !important;
}
.timeline .tag {
    background-color: var(--accent) !important;
    box-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent);
    color: white;
}
.timeline .tag i {
    margin-left: 0.5em;
    -ms-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.timeline .is-active .tag i {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}


.title {
    color: var(--foreground);
    text-align: center!important;
}

ul {
    list-style-image: url('/assets/star.svg');
    padding-left: 1em;
}
li {
    padding-left: 0.5em;
}

/*Media*/
@media screen and (max-width: 1023px) {

    .footer img {
        height: 4rem;
    }

    /*.has-navbar-fixed-top {*/
    /*    padding-top: 3.25rem !important;*/
    /*}*/

    html {
        scroll-padding-top: 2rem;
    }

    .navbar {
        background-color: #000000ee;
    }

    .navbar-item.is-spacer {
        display: none;
    }

    #site .hero-body .title {
        font-size: 2.5rem !important;
    }
    #site .hero-body {
        padding-bottom: 1.5rem;
    }
}

@media screen and (max-width: 500px) {

    .navbar-brand  {
        height: 4rem;
    }

    .navbar-brand a.navbar-item {
        width: 100vw;
        position: absolute;
        justify-content: center;
    }

}




/* Glitch styles */
.glitch {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--glitch-width);
    height: var(--glitch-height);
    overflow: hidden;
}

.glitch__img {
    position: absolute;
    top: calc(-1 * var(--gap-vertical));
    left: calc(-1 * var(--gap-horizontal));
    width: calc(100% + var(--gap-horizontal) * 2);
    height: calc(100% + var(--gap-vertical) * 2);
    background: url(/assets/header.jpg) no-repeat 50% 0;
    background-color: var(--blend-color-1);
    background-size: cover;
    transform: translate3d(0,0,0);
    background-blend-mode: var(--blend-mode-1);
}

.glitch__img:nth-child(n+2) {
    opacity: 0;
}

.imgloaded .glitch__img:nth-child(n+2) {
    animation-duration: var(--time-anim);
    animation-delay: var(--delay-anim);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.imgloaded .glitch__img:nth-child(2) {
    background-color: var(--blend-color-2);
    background-blend-mode: var(--blend-mode-2);
    animation-name: glitch-anim-1;
}

.imgloaded .glitch__img:nth-child(3) {
    background-color: var(--blend-color-3);
    background-blend-mode: var(--blend-mode-3);
    animation-name: glitch-anim-2;
}

.imgloaded .glitch__img:nth-child(4) {
    background-color: var(--blend-color-4);
    background-blend-mode: var(--blend-mode-4);
    animation-name: glitch-anim-3;
}

.imgloaded .glitch__img:nth-child(5) {
    background-color: var(--blend-color-5);
    background-blend-mode: var(--blend-mode-5);
    animation-name: glitch-anim-flash;
}

/* Animations */

@keyframes glitch-anim-1 {
    0% {
        opacity: 1;
        transform: translate3d(var(--gap-horizontal),0,0);
        -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
        clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }
    2% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
        clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }
    4% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
        clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }
    6% {
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
        clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }
    8% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
    10% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
    12% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
    14% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    16% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    18% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
    21.9% {
        opacity: 1;
        transform: translate3d(var(--gap-horizontal),0,0);
    }
    22%, 100% {
        opacity: 0;
        transform: translate3d(0,0,0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        opacity: 1;
        transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
        -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
        clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    }
    3% {
        -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
        clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }
    5% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
        clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    }
    7% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    9% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
        clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    }
    11% {
        -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
        clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    }
    13% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    15% {
        -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
        clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    }
    17% {
        -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
        clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    }
    19% {
        -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
        clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    }
    20% {
        -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
        clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    }
    21.9% {
        opacity: 1;
        transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
    }
    22%, 100% {
        opacity: 0;
        transform: translate3d(0,0,0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-3 {
    0% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
        clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    }
    1.5% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
        clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    }
    2% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
        clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    }
    2.5% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    3% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
        clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    }
    5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
        clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    }
    5.5% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
        clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    }
    7% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
        clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    }
    8% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
    9% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
        clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    }
    10.5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
        clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    }
    11% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
        clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    }
    13% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
        clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    }
    14% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
        clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    }
    14.5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
        clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    }
    15% {
        -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
        clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    }
    16% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    18% {
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
        clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    }
    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
        clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    }
    21.9% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
    }
    22%, 100% {
        opacity: 0;
        transform: translate3d(0,0,0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-text {
    0% {
        transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
    2% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
    4% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
    5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
    6% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    7% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    8% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    9% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
    9.9% {
        transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
    }
    10%, 100% {
        transform: translate3d(0,0,0) scale3d(1,1,1);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

/* Flash */
@keyframes glitch-anim-flash {
    0%, 5% {
        opacity: 0.2;
        transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    }
    5.5%, 100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}