:root {
    --background: black;
    --foreground: white;
    --accent: #0386b2;
    --progress-bar-color: #28fdff;
    --progress-bar-height: 0.5rem;
    --progress-bar-radius: 20px;
    --fixed-navbar-height: 4rem;
}

@font-face {
    font-family: "Druk Wide Medium";
    src: url("/fonts/7e389c5e310dc537b083e0e25ea6eab5.eot");
    src:
        /*url("/fonts/7e389c5e310dc537b083e0e25ea6eab5.eot?#iefix") format("embedded-opentype"),*/
            url("/fonts/7e389c5e310dc537b083e0e25ea6eab5.woff2") format("woff2"),
            url("/fonts/7e389c5e310dc537b083e0e25ea6eab5.woff") format("woff"),
            url("/fonts/7e389c5e310dc537b083e0e25ea6eab5.ttf") format("truetype"),
            url("/fonts/7e389c5e310dc537b083e0e25ea6eab5.svg") format("svg");
}
@font-face{
    font-family: "Jura-Regular";
    src: url("/fonts/Jura-Regular.eot");
    src:
        /*url("/fonts/Jura-Regular.eot?#iefix") format("embedded-opentype"),*/
            url("/fonts/Jura-Regular.woff2")format("woff2"),
            url("/fonts/Jura-Regular.woff")format("woff"),
            url("/fonts/Jura-Regular.ttf")format("truetype");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Jura-Regular', sans-serif;
    font-weight: 600;
}

html {
    background-color: var(--background);
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-padding-top: var(--fixed-navbar-height);
}

.has-navbar-fixed-top {
    padding-top: var(--fixed-navbar-height) !important;
}

#faq .question a {
    color: var(--foreground);
    font-family: "Druk Wide Medium", sans-serif;
    text-transform: uppercase;
}
#faq .question i {
    -ms-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
#faq .question .is-active i {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
#faq .answer {
    text-transform: uppercase;
}
#faq .answer.is-active {
    margin-top: 1.5rem;
}

.footer {
    background-color: var(--background);
}
.footer a {
    color: white;
}
.footer a:hover {
    color: var(--accent);
    text-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent);
}
.footer i {
    margin: 10px;
}
.footer img {
    height: 4rem;
}

/*Landing*/
#landing {
    background-color: var(--background);
    color: var(--accent);
    text-transform: uppercase;
}
#landing img {
    height: 30vh;
    max-height: 20rem;
}
#landing .hero-body {
    padding: 0;
}
#landing .loading {
    font-size: 1.5rem;
}
#landing .progress-bar {
    width: 60vw;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: var(--progress-bar-height);
    background-color: #282e2f;
    border-radius: var(--progress-bar-radius);
}
#landing .progress-bar .value {
    border-bottom-left-radius: var(--progress-bar-radius);
    border-top-left-radius: var(--progress-bar-radius);
    box-shadow: 0 0 10px var(--progress-bar-color), 0 0 20px var(--progress-bar-color);
    transition: all 0.3s ease-in-out;
    background-color: var(--progress-bar-color);
    height: var(--progress-bar-height);
    width: 1%;
}
#landing .progress-bar .value.is-complete {
    border-radius: var(--progress-bar-radius);
}
#landing #status {
    padding-top: 1em;
}

.navbar {
    /*background-color: #000000ee;*/
    background-color: transparent;
    font-family: "Druk Wide Medium", sans-serif;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
}
.navbar.scroll {
    background-color: #000000ee;
    -webkit-transition: background-color 500ms ease-in;
    -moz-transition: background-color 500ms ease-in;
    -o-transition: background-color 500ms ease-in;
    -ms-transition: background-color 500ms ease-in;
    transition: background-color 500ms ease-in;
}
.navbar-brand img {
    max-height: 2.75rem;
}
.navbar-burger {
    height: 3.5rem;
}
.navbar-burger, .navbar-burger a:hover {
    color: var(--foreground) !important;
}
.navbar-burger span {
    height: 2px;
}
.navbar-item {
    color: var(--foreground);
}
.navbar-item.is-active {
    background-color: unset !important;
    color: var(--accent) !important;
}
.navbar-item.is-spacer {
    padding-left: 0 !important;
}
.navbar-menu {
    /*background-color: var(--background);*/
    background-color: initial;
}
.navbar-menu a:hover {
    background-color: unset;
    color: var(--accent);
    text-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent);
}
.navbar-menu a {
    color: var(--foreground);
}
a.button.vip  {
    background-color: var(--accent);
    border-color: var(--accent);
    border-radius: 4px;
    color: var(--foreground);
    font-family: "Druk Wide Medium", sans-serif;
    text-transform: uppercase;
}
a.button.vip:hover {
    box-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent);
    color: var(--foreground);
}
.navbar-menu .navbar-start {
    padding-left: 1em;
}

.section .title {
    font-family: "Druk Wide Medium", sans-serif;
    text-transform: uppercase;
}

/*Site*/
#site {
    /*display: none;*/
}
#site .arrow {
    animation: hover 3s infinite ease-in-out;
}
@keyframes hover {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}
#site .hero {
    margin-top: -4rem;
}
#site .hero.is-fullheight {
    min-height: 100vh;
}
#site .hero-body {
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#site .hero-body .block {
    width: 100%;
    padding-bottom: 8vh;
}
#site .hero-body .title {
    font-family: "Druk Wide Medium", sans-serif;
    font-size: 4rem !important;
    text-transform: uppercase;
    text-shadow: 0 0 2px var(--background);
    position: relative;
}
#site .hero-body svg {
    margin-top: 1em;
}
#site #vip .modal-content {
    width: auto;
}
#site #vip .container .section {
    background-color: #000000;
    border: var(--foreground) 1px solid;
    margin: 40px;
}

.subtitle {
    color: var(--foreground);
}

#roadmap, #faq {
    background-color: #0c0c0c;
}

/*Team*/
.team a {
    color: var(--foreground);
}
.team a:hover {
    color: var(--accent);
    text-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent);
}
.team .card {
    background-color: initial;
}
.team .card img {
    height: 70%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
}
.team .is-blue {
    background-color: var(--accent);
    box-shadow: 0 0 10px var(--accent), 0 0 40px var(--accent);
}
.team .is-orange {
    --orange: #ef7700;
    background-color: var(--orange);
    box-shadow: 0 0 10px var(--orange), 0 0 40px var(--orange);
}
.team .is-red {
    --red: #ce3020;
    background-color: var(--red);
    box-shadow: 0 0 10px var(--red), 0 0 40px var(--red);
}

/*Timeline*/
.timeline .timeline-content .heading {
    font-family: "Druk Wide Medium", sans-serif;
}
.timeline .timeline-header {
    font-family: "Druk Wide Medium", sans-serif;
    text-transform: uppercase;
}
.timeline .timeline-item {
    padding-bottom: 0 !important;
}
.timeline .timeline-item.is-spacer {
    height: 1.5em;
}
.timeline .timeline-item::before {
    background-color: var(--accent) !important;
    box-shadow: 0 0 10px var(--accent);
}
.timeline .timeline-phase, .is-collapsible {
    display: flex;
    flex-direction: column;
}
.timeline .timeline-phase .timeline-item:nth-of-type(1) .timeline-content {
    padding-top: 1.5em !important;
}
.timeline .timeline-phase .timeline-item:last-child {
    padding-bottom: 1.5em !important;
}
.timeline .timeline-marker {
    background-color: var(--accent) !important;
    box-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent);
    border-color: var(--accent) !important;
}
.timeline .tag {
    background-color: var(--accent) !important;
    box-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent);
    color: white;
}
.timeline .tag i {
    margin-left: 0.5em;
    -ms-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.timeline .is-active .tag i {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}


.title {
    color: var(--foreground);
    text-align: center!important;
}

ul {
    list-style-image: url('/images/star.svg');
    padding-left: 1em;
}
li {
    padding-left: 0.5em;
}

/*Media*/
@media screen and (max-width: 1023px) {
    .footer img {
        height: 3rem;
    }

    html {
        scroll-padding-top: 2rem;
    }

    .navbar.is-active {
        background-color: #000000ee;
    }

    .navbar-item.is-spacer {
        display: none;
    }

    #site .hero-body .title {
        font-size: 2.5rem !important;
    }
    #site .hero-body {
        padding-bottom: 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    .navbar-brand  {
        height: 4rem;
    }

    .navbar {
        background-color: #000000ee;
    }

    .navbar-brand a.navbar-item {
        width: 100vw;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-height: 400px) {
    #site .hero-body .block {
        padding-bottom: 15vh;
    }
}